.navbar{
    /* background-color: #e9d7d7; */
    color: #3220ba;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

a {
    text-decoration: none;
    font-size: x-large;
}

.nav-item {
    gap: 15rem;
}

img {
    margin-left: 4.3rem;
}

